* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.tab {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 40px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.tab h2 {
  margin-right: 30px;
  white-space: nowrap;
}

h2 {
  font-size: 1.6em;
}

.tab .tab-header {
  position: relative;
  width: 20%;
  display: flex;
  align-items: center;
  height: 28px;
  z-index: 2;
  border-radius: 40px;
}

.tab .nav-pills {
  border: 1px solid rgb(0, 37, 139);
  border-radius: 40px;
}

.tab button {
  color: #081c22;
  font-weight: 500;
  background-color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 32.6px 0px 20px;
  transition: 0.5s;
  font-size: 0.9rem;
  border-radius: 40px;
}

.tab button.nav-link.active {
  background-color: rgb(0, 37, 139);
  color: rgb(2, 255, 209);
  /* padding: 5.5px 25.9px; */
}

.card__wrapper {
  min-height: 0;
  position: relative;
  height: auto;
  left: 80px;
  width: 90%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  transition: height .5s linear;
}



.movie__card {
  padding: 6px 12px;
  border-top: none;
  background-color: transparent;
  animation: fadeEffect 1s;
  width: 180px;
  min-height: 0px;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.movie__card img {
  width: 100%;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.circle-text {
  display: flex;
  flex-direction: column;
}

.latest .card__wrapper:last-child {
  display: none;
}

.latest .card_box .latest-box {
  align-items: center;
  margin: 30px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
  background-color: none;
}

.movie__card .card_box .latest-box .latest-b-img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.movie__card .card_box .latest-box .latest-b-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__card .card_box .latest-box .latest-b-text {
  background-color: transparent;
}

.movie__card .card_box .latest-box .latest-b-text a strong {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  margin: 0px;
}

.movie__card .card_box .latest-box .latest-b-text a strong:hover {
  color: blue;
}

.movie__card .card_box .latest-box .latest-b-text {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  
  background-color: none;
}

.movie__card .card_box .latest-box .latest-b-text a {
  text-decoration: none;
}

.movie__card .card_box .latest-box .latest-b-text p {
  color: rgb(105, 105, 105);
  margin: 0px;
}

.dropbtn-card {
  position: absolute;
  display: inline;
  border-radius: 50%;
  opacity: 0.8;
  background-color: #fff;
  color: rgb(156, 156, 156);
  padding: 2px 5px;
  font-size: 0.7rem;
  border: none;
  cursor: pointer;
}

.dropbtn-card:hover,
.dropbtn-card:focus {
  background-color: #1e78b3;
}

.dropdown-card {
  position: absolute;
  display: none;
  top: 40px;
  left: 145px;
}

-contentcard {
  display: none;
  position: absolute;
  top: -40px;
  left: -60px;
  background-color: #f1f1f1;
  height: auto;
  min-width: 80px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #d3d1d1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentcard a {
  color: black;
  padding: 10px 16px;
  border-bottom: 1px solid #d3d1d1;
  text-decoration: none;
  display: block;
  margin: 5px;
  font-size: 0.8rem;
}

.dropdown-contentcard a:last-child {
  border-bottom: none;
}

.dropdown-contentcard a span {
  padding-right: 10px;
}

.dropdown-card a:hover {
  background-color: rgb(6, 20, 59);
  color: white;
}

.show {
  display: block;
}


/* Card percentage  */
@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.circle-progressbar div[role="progressbar"] {
  --size: 2.5rem;
  --bg: #081c22;
  --fg: rgba(20, 193, 20, 0.757);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side,
      #081c22 80%,
      transparent 0 99.9%,
      white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 3.5);
  color: white;
}

.circle-progressbar div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

.circle-progressbar {
  position: relative;
  margin-top: -20px;
  margin-left: 10px;
}

.card__list__today,
.card__list__week {
  flex-wrap: nowrap !important;
}

.card__list__tv,
.card__list__theater {
  flex-wrap: nowrap !important;
}