*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* .selecte {
    width: 20%;
    height: 90%;
  
} */

.container{
    margin: auto;
    display: flex;
    justify-content:space-between ;
   
    width: 90%;
    margin-top: 90px;
}


.card {
    width: 70%;
   
    background-color: rgb(145, 91, 132);
}
.det1 {
    min-width: 240px;
    width: 240px;
    border: 1px solid #e3e3e3;
    border-radius: var(--imageBorderRadius);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 20px;
}

.box {
    background-color: white;
    width: 100%;
    height: max-content;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 0px 0px 15px;
    font-size: 18px;
    border-top: 2px solid rgb(183, 180, 180);
   
 
}
.box select {
    background-color: rgb(216, 216, 219);
    margin: 10px 0px 0px 0px;
    padding: 5px 10px;

  }

 .selecte form details{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 10px 1px gray;
}

details .radios , .check {
    background-color: white;
    width: 100%;
    height: max-content;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 0px 0px 15px;
    font-size: 18px;
    border-top: 2px solid rgb(183, 180, 180);
    margin-bottom: 10px;
    
   
 
}
p {
    margin-bottom: 5px;
}
.datebox .date  {
 display: flex;
 justify-content:space-between;
 padding: 5px;
}



.det2 {
    min-width: 240px;
    width: 240px;
    border: 1px solid #e3e3e3;
    border-radius: var(--imageBorderRadius);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 20px;

}

details .search {
    padding: 10px;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border-top: 2px solid rgb(183, 180, 180);
   margin-top: 10px;
}
form .search-btn {
    background: rgb(42, 184, 255);
    padding: 10px 88px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    
}
.search input {
    border-radius: 4px;
    padding: 10px;
    margin: 7px;
    border: 1px solid rgb(192, 192, 193);
}
form {
    display: flex;
    flex-direction: column;
}

.buttons li{
    display: inline-flex;
    border: 1px solid #9e9e9e;
    border-radius: 14px;
    padding: 4px 12px;
    font-size: .9em;
    margin-right: 6px;
    margin-top: 8px;
}


.form__select__button:hover {

    background-color:#208ef5;
    transition: 1s;
    color: white;
}
.bg-blue{
    background-color:#208ef5;
    color: white;
}
.load-btn {
    background-color: rgb(42, 184, 255);
  
    padding: 10px 460px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 10px 100px;
}

@media (max-width: 1100px) {
    .container {
    display: flex;
    flex-direction: column;
    }
    
    .load-btn {
        background-color: rgb(42, 184, 255);
      
        padding: 10px 88px;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        margin: 10px 0px;
    }
    .card__list__popularmovie__page{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
    }
    
   
}

/* .card__list__popularmovie__page .movie__card {
   width: 0px !important;
} */
.popularmovie__container{
    overflow: hidden;
}