*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
header {
    position: fixed;
    width: 100%;
    height: 8.5vh;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 15px 9%;
    transition: 0.2s;
    background-color: rgb(2, 26, 56);
    color: white;

}

header .diva {
    background-color: #2bafda;
    width: 55px;
    height: 30px;
    border-radius: 50px;
    margin-top: 5px;
}

header h1 {
    display: flex;
    text-align: center;
    font-size: 28px;
    font-weight: 550;
    margin-right: 7px;
    font-weight: bolder;
    animation: h1 5s infinite linear;
    justify-content: space-between;
    background: linear-gradient(50deg, #4efaa7, #01a0db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header ul {
    display: flex;
}

header ul li {
    margin: 15px;
    font-size: 16px;
    list-style: none;
}

header ul li i {
    color: #41b1da;
    font-size: 21px;
}

header .ul2 .a2 {
    margin-left: 700px;
    color: white;
    background-color: #32b9de;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    font-size: small;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: auto;
    display: flex;
    justify-content:space-between ;
   
    width: 90%;
    margin-top: 90px;
}
.selecte {
    width: 20%;
    height: 90%;
  
}
.card {
    width: 70%;
   
    background-color: rgb(145, 91, 132);
}
.det1 {
    min-width: 260px;
    width: 260px;
    border: 1px solid #e3e3e3;
    border-radius: var(--imageBorderRadius);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 20px;
}

.box {
    background-color: white;
    width: 100%;
    height: max-content;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 0px 0px 15px;
    font-size: 18px;
    border-top: 2px solid rgb(183, 180, 180);
   
 
}
.box select {
    background-color: rgb(216, 216, 219);
    margin: 10px 0px 0px 0px;
    padding: 5px 10px;

  }

 .selecte form details{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 10px 1px gray;
}

details .radios , .check {
    background-color: white;
    width: 100%;
    height: max-content;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 0px 0px 15px;
    font-size: 18px;
    border-top: 2px solid rgb(183, 180, 180);
    margin-bottom: 10px;
    
   
 
}
p {
    margin-bottom: 5px;
}
.datebox .date  {
 display: flex;
 justify-content:space-between;
 padding: 5px;
}



.buttons button {
    border-radius: 15px;
    padding: 5px 15px;
    margin: 3px ;
    border: 1px solid gray;
}
.det2 {
    min-width: 260px;
    width: 260px;
    border: 1px solid #e3e3e3;
    border-radius: var(--imageBorderRadius);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 20px;

}

details .search {
    padding: 10px;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border-top: 2px solid rgb(183, 180, 180);
   margin-top: 10px;
}

form .btn-box {
    margin: auto;
}
form .search-btn {
    background: rgb(42, 184, 255);
    padding: 10px 95px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    
}
.search input {
    border-radius: 4px;
    padding: 10px;
    margin: 7px;
    border: 1px solid rgb(192, 192, 193);
}
form {
    display: flex;
    flex-direction: column;
}

.bottom:hover {
    background-color:#208ef5;
    transition: 1s;
    color: white;
}
.latest-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    /* margin: 20px 10px; */
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    background-color: none;
    margin: 10px;
}

.latest-b-img {
    width: 100%;
    height: 230px;
}

.latest-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-b-text {
    background-color: transparent;
}

.latest-b-text a strong {
    font-weight: bold;
    color: black;
    margin: 0px;
}

.latest-b-text a strong:hover {
    color: blue;
}

.latest-b-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: none;
}

.latest-b-text p {
    color: rgb(105, 105, 105);
    margin: 0px;
}

.card {
    display: flex;
    flex-direction: row;
    
    background-color: transparent;
}


.percentage-container {
    height: 100%;
    display: flex;
    margin-right: 90px;
    margin-top: -20px;
    align-items: center;
    justify-content: center;
}

.percentage-container .skill {
    position: relative;
    /* margin: 40px; */
}

.percentage-container .skill .outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    background: black;
    box-shadow: 6px 6px 10px -1px rgba(0 0 0/.15), -6px -6px 10px -1px rgba(255 255 255 /.7);

}

.percentage-container .skill .outer .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    box-sizing: inset 4px 4px 6px -1px rgba(0 0 0/.2), inset -4px -4px 6px -1px rgba(255 255 255/.7),
        -.5px -.5px 0px rgba(225 255 255/1), .5px .5px 0px rgba(0 0 0/.15), 0px 12px 10px -10px rgba(0 0 0/0.05);
}

.percentage-container .skill .outer .inner .number {
    font-size: 0.8em;
    font-weight: 900;
    padding: 15px;
    color: white;
   
}

circle {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 118;
    stroke-dashoffset: 118;
    transition: 1s linear;
    
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.percentage-container .skill circle{
    stroke: rgb(7, 223, 122);
}

.latest-b-img span i{
    font-size: 0.8rem;
    color: rgb(133, 132, 132);
    opacity: 0.9;
    position: absolute;
    top: 4px;
    left: 4px;
    
}

.latest-b-img span {
    position: absolute;
    left: 125px;
    margin: 8px;
    filter: blur(0.5px);
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.latest-b-img span:hover {
    background-color: rgb(65, 98, 207);
    opacity: 0.9;
    color: black;
    font-weight: bold;
}
.latest-b-img span:hover i{
    color: white;
    font-weight: bold;
}

.latest-b-img .span2 {
    position: absolute;
    left: 295px;
    margin: 8px;
    filter: blur(0.5px);
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.load-btn {
    background-color: rgb(42, 184, 255);
  
    padding: 10px 400px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

footer {
    padding: 15px 9%;
    transition: 0.2s;
    background-color: rgb(2, 26, 56);
    color: white;
    float: end;
    width: 100%;
}

footer .h1a {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    background: linear-gradient(40deg, #4efaa7, #01a0db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .div1 {
    background-color: #41b1da;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    margin-top: -33px;
    margin-left: 83px;
}

footer .h1b {
    background: linear-gradient(40deg, #4efaa7, #41b1da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .div2 {
    background: linear-gradient(40deg, #4efaa7, #41b1da);
    width: 26px;
    height: 26px;
    border-radius: 100px;
    margin-top: -33px;
    margin-left: 35px;
}

footer .h12 {
    margin-top: -33px;
    margin-left: 65px;
    background: linear-gradient(40deg, #41d7da, #41b1da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .div3 {
    background: linear-gradient(40deg, #4efaa7, #01a0db);
    width: 75px;
    height: 26px;
    border-radius: 50px;
}

footer .h13 {
    margin-top: -33px;
    margin-left: 80px;
    color: #41b1da;
}

footer button {
    width: 230px;
    height: 45px;
    background-color: white;
    color: rgb(104, 206, 250);
    border-radius: 7px;
    margin-left: -90px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
}

footer .coll {
    display: flex;
    justify-content: space-evenly;
}

footer .xxx .bbb,
.xxx a {
    color: white;
}

footer .xxx h1:hover,
.xxx:hover {
    transform: translateY(-2px);
    transition: all.3s ease;
}

footer .coll .bbb {
    font-size: 20px;
}

footer .coll {
    margin-left: 150px;
    margin-top: -120px;
}


.togglebtn {
    width: 28px;
  
    right: 100px;
    top: 25px;
    display: none;
}

.togglebtn span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    float: left;
    margin-bottom: 7px;
}
